.App {
  text-align: center;
  
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(245, 190, 190);
  color:white;

}
/* .{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
} */
